extends layout/default.pug
block title 
  title Danh sách sản phẩm
block main
  //- Breadcrumb 
  .breadcrumb
    .container
      ul.breadcrumb__list
        li.breadcrumb__item
          a(href="index.html" class="breadcrumb__link") Trang chủ
        li.breadcrumb__item
          a(href="#" class="breadcrumb__link") Chó
        li.breadcrumb__item
          a(href="#" class="breadcrumb__link") Chó nhỏ
  //- End breadcrumb

  //- Section 3
  include partials/section-3.pug
  //- End Section 3

  //- Layout - Product
  .layout-product
    .container
      .layout-product__wrap
        .layout-product__left
          .filters
            .filters__title
              img(src="assets/image/Filter.svg", alt="Filter")
              span Bộ lọc
            .filters__list
              .filters__item
                .filters__item-title Giống
                .filters__item-box
                  .filters__item-choose
                    input(type="checkbox" name="species", value="Đực" id="maledog")
                    lable(for="maledog") Đực
                  .filters__item-choose
                    input(type="checkbox" name="species", value="Cái" id="femaledog")
                    lable(for="femaledog") Cái
              .filters__item
                .filters__item-title Màu sắc
                .filters__item-box
                  .filters__item-choose
                    input(type="checkbox" name="colors", value="Xám" id="color-grey")
                    lable(for="color-grey") Xám
                  .filters__item-choose
                    input(type="checkbox" name="colors", value="Đen" id="color-black")
                    lable(for="color-black") Đen
                  .filters__item-choose
                    input(type="checkbox" name="colors", value="Trắng" id="color-white")
                    lable(for="color-white") Trắng
              .filters__item
                .filters__item-title Kích thước
                .filters__item-box
                  .filters__item-choose
                    input(type="checkbox" name="sizes", value="Small" id="small-size")
                    lable(for="small-size") Nhỏ
                  .filters__item-choose
                    input(type="checkbox" name="sizes", value="Medium" id="medium-size")
                    lable(for="medium-size") Vừa
                  .filters__item-choose
                    input(type="checkbox" name="sizes", value="Big" id="big-size")
                    lable(for="big-size") Lớn
        .layout-product__right
          //- Section 2
          .section-2
            .container
                .box-head
                  .box-head__left
                    .box-head__title Chó Nhỏ
                  .box-head__right
                    img(src="assets/image/Filter.svg", alt="Filter")
                    span Bộ lọc
                -
                  var pets = [
                    {
                      image: 'assets/image/image 1.jpg',
                      title: 'MO231 - Pomeranian Trắng',
                      gender: 'Đực',
                      age: '02 tháng',
                      price: '6.900.000 VND'
                    },
                    {
                      image: 'assets/image/image 2.jpg',
                      title: 'MO502 - Poodle Tiny Vàng',
                      gender: 'Cái',
                      age: '02 tháng',
                      price: '3.900.000 VND'
                    },
                    {
                      image: 'assets/image/image 3.jpg',
                      title: 'MO102 - Poodle Tiny Sepia',
                      gender: 'Đực',
                      age: '02 tháng',
                      price: '4.000.000 VND'
                    },
                    {
                      image: 'assets/image/image 4.jpg',
                      title: 'MO512 - Alaskan Malamute',
                      gender: 'Đực',
                      age: '03 tháng',
                      price: '8.900.000 VND'
                    },
                    {
                      image: 'assets/image/image 5.jpg',
                      title: 'MO231 - Pembroke Corgi',
                      gender: 'Đực',
                      age: '02 tháng',
                      price: '7.900.000 VND'
                    },
                    {
                      image: 'assets/image/image 6.jpg',
                      title: 'MO502 - Pembroke Corgi',
                      gender: 'Cái',
                      age: '02 tháng',
                      price: '9.000.000 VND'
                    },
                    {
                      image: 'assets/image/image 7.jpg',
                      title: 'MO231 - Pomeranian Trắng',
                      gender: 'Cái',
                      age: '02 tháng',
                      price: '6.500.000 VND'
                    },
                    {
                      image: 'assets/image/image 8.jpg',
                      title: 'MO512 - Poodle Tiny',
                      gender: 'Đực',
                      age: '02 tháng',
                      price: '5.000.000 VND'
                    }
                  ];
                .section-2__wrap
                  each pet in pets
                    .section-2__item
                      .section-2__image
                        a(href="#")
                          img(src=pet.image alt=pet.title)
                      .section-2__content
                        h3.section-2__title
                          a(href="#")  #{pet.title}
                      .section-2__infor
                        .section-2__infor-item  
                          p Giống: 
                          p #{pet.gender}
                          <i class="fa-solid fa-circle"></i>
                        .section-2__infor-item
                          p Tuổi: 
                          p #{pet.age}
                        .section-2__price #{pet.price}
          //- Pagination
          .pagination
            ul.pagination__list
              li.pagination-item
                a(href="#" class="pagination__link") <i class="fa-solid fa-arrow-left"></i>
              li.pagination-item
                a(href="#" class="pagination__link pagination__link--active") 1
              li.pagination-item
                a(href="#" class="pagination__link") 2
              li.pagination-item
                a(href="#" class="pagination__link") 3
              li.pagination-item
                a(href="#" class="pagination__link") 4
              li.pagination-item
                a(href="#" class="pagination__link") ...
              li.pagination-item
                a(href="#" class="pagination__link") <i class="fa-solid fa-arrow-right"></i>

                
          

         
